.productlist-container .productlist-banner{
  min-height: 60px;
  box-shadow:inset 0 -1px 0 0 #e5e5e5 ;
  background: #f5f5f5;
  position: relative;
   width: 768px;
    max-width: 100%;
    margin: 0px auto
}
.productlist-banner ul{
    padding:0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1,100%);
    column-gap: 4px;
    list-style: none;

}
.productlist-banner ul li{
    display: inline-block;
    padding: 0;
}
.productlist-inner-banner{
    min-height: 60px;
    margin: 0 auto;
    display: table;
}
.innerbanner-free-padding{
    display: table-cell;
    padding-right: 8px;
    padding-left: 8px;
    vertical-align: middle;
    max-width: 320px;
}
.productlist-banner-content{
    max-width: 320px;
    display: table-cell;
    vertical-align: middle;
    padding-right: 8px;
    padding-left: 8px;
}
.productlist-banner-content p{
    margin: 0;
    padding: 0;

}
.productlist-banner-content u{
    text-decoration: underline;
    color: #111111;
    cursor: pointer;
    font-family: 'HelveticaNowTextMedium';
    line-height: 24px;
    font-size: 12px;
    font-weight: 500;
}